# Canonicalize historical git identities without rewriting commits.
# Mathlib / Lean community attribution uses the Authors: name.
Benjamin Stanley Frohman <frohmanbenjamin@gmail.com> Frohmanian <frohmanbenjamin@gmail.com>
Benjamin Stanley Frohman <frohmanbenjamin@gmail.com> BenFrohman <frohmanbenjamin@gmail.com>
